.body h1 {
    color: white;
    background-color: #20b297;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.body {
    background-color: rgb(45, 255, 185);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0f654a;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.student {
    align-self:flex-end;
    margin-bottom: 5px;
    border: solid 1px black;
    width: 80%;
    display: grid;
    grid-template-columns: 0.4fr 2fr 0.5fr;
}

.student:hover {
    background-color: #CBFFF5;
}

.cohort:hover {
    background-color: #CBFFF5;
}

.student img{
    width: 155px;
    height: 155px;
    /* float: left; */
    padding-right: 15px;
}

.cohorts {
    margin-left: 25px;
    margin-right: 40px;
}

.cohorts h1 {
    color: black;
    background-color: white;
}

.cohort {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
}

#student-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.on-track {
    font-weight: bolder;
    color: #0f654a;
    text-align: center;
}

.one-on-one {
    grid-column: 1 / span end;
}

.one-on-one *{
    margin-bottom: 10px;
}

.hidden {
    display: none;
}